<div class="container-sm mt-3">
    <h1 class="text-center">Agregar pais</h1>
    <form action="/crear" method="POST">
        <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa el nombre del pais</label>
            <input class="form-control form-control-md" id="nombre" name="nombre" type="text" placeholder="ingrese el nombre" aria-label=".form-control-lg example" required>
        </div>
          <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa el nombre del Continente</label>
            <input class="form-control form-control-md" id="continente" name="continente" type="text" placeholder="ingrese continente" aria-label=".form-control-lg example" required>
        </div>
           <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa poblacion</label>
            <input class="form-control form-control-md" id="poblacion" name="poblacion" type="number" placeholder="ingrese poblacion" aria-label=".form-control-lg example" required>
        </div>
          <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa pib 2019</label>
            <input class="form-control form-control-md" id="pib_2019" name="pib_2019" type="number" placeholder="ingrese pib" aria-label=".form-control-lg example" required>
        </div>
          <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa pib 2020</label>
            <input class="form-control form-control-md" id="pib_2020" name="pib_2020" type="number" placeholder="ingrese pib" aria-label=".form-control-lg example" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-success">Agregar</button>
        </div>
    </form>
</div>

