<div class="container-sm mt-3">
    <h1 class="text-center">Eliminar pais</h1>
    <form id="eliminarCountry">
        <div class="mb-2 d-grid gap-2 col-6 mx-auto">
            <label for="" class="form-label">ingresa el nombre del pais</label>
            <input class="form-control form-control-md" id="nombre" name="nombre" type="text" placeholder="ingrese el nombre" aria-label=".form-control-lg example" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>
</div>

<script src="/js/delete.js"></script>